@{
    ViewData["Title"] = "Accounts";
}


<div class="container pt-3">
    <div class="info-block-2">
        <h1 class="text-secondary">
            Accounts
        </h1>
        <h2 class="text-secondary">
            Sign in and Logins
        </h2>
        <p>
            On the login page, a user can sign up and use those details to log in, in order to use the system. A user is only only limited to certain functionalities depending on the role associated with that particulary user. With Admin permissions, said limitations can be bypassed or adjusted. All users are required to register prior to logging on.
        </p>
        <h2 class="text-secondary">
            Permissions
        </h2>
        <p>
           These are configured and toggled by the admin who has permission to access such pages, this extends to the assignment of roles to users as well as the the actions they can perform of the system. By default, every user has no access to the core functionalities, this can be configured by the admin.   
        </p>

    </div>

</div>