@{
    ViewData["Title"] = "Navigation";
}


<div class="container pt-3">
    <div class="info-block-2">
        <h1 class="text-secondary">
            Navigation
        </h1>
        <h2 class="text-secondary">
            Main Nav-Bar
        </h2>
        <p>
            The menu can be found in the navigation bars. Each item on the nav-bar links to a particular functionality or subsystem (baring in mind that some functionalities require special permissions). For example, selecting from the Menu bar will show "All Items" and depending on the device screen size a responsive menu bar will be displayed.
        </p>
        <h2 class="text-secondary">
           Mini Nav-Bar
        </h2>
        <p>
            Only visible when browsing on small screens, similar to the main nav bar, functionality links are the same and are seperate from the home page navigation links.    </p>

    </div>

</div>