@model ISU_By_DBugSolutions.Models.Allergy

@{
    ViewData["Title"] = "Allergy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-secondary">Allergy</h1>

<h4 class="text-secondary"><i>Edit details</i></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-secondary"></div>
            <input type="hidden" asp-for="AllergyID" />
            <div class="form-group">
                <label asp-for="AllergyName" class="control-label"></label>
                <input asp-for="AllergyName" class="form-control" />
                <span asp-validation-for="AllergyName" class="text-secondary"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-secondary"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index"><img src="~/Images/back-icon.png" alt="back" style="width:35px;" class="mr-1" /></a>
                <input type="submit" value="Save" class="btn btn-submit-1" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
