@model ISU_By_DBugSolutions.Models.Province

@{
    ViewData["Title"] = "Province";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-secondary">Province</h1>

<h4><i>Edit Province</i></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProvinceID" />
            <div class="form-group">
                <label asp-for="ProvinceName" class="control-label"></label>
                <input asp-for="ProvinceName" class="form-control" />
                <span asp-validation-for="ProvinceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index"><img src="~/Images/back-icon.png" alt="back" style="width:35px;" class="mr-1" /></a>
                <input type="submit" value="Save" class="btn btn-submit-1" />

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
