@model ISU_By_DBugSolutions.Models.PictureBook

@{
    ViewData["Title"] = "Picture Book";
}

<img class="mb-3" src="~/Images/picture-book-header.png" alt="Picture Book" width="400" />

<h4>Sponsored By: MonkeyPen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-secondary"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-secondary"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-secondary"></span>
            </div>
            <div class="form-group">
                <label asp-for="Synopsis" class="control-label"></label>
                <input asp-for="Synopsis" class="form-control" />
                <span asp-validation-for="Synopsis" class="text-secondary"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookFile" class="control-label"></label>
                <div class="custom-file">

                    <input asp-for="BookFile" type="file" class="custom-file-input" accept="application/pdf">
                    <label id="#Selectedfile" asp-for="BookFile" class="custom-file-label" >Select File</label>
                    <span asp-validation-for="BookFile" class="text-secondary"></span>
                    
                </div>
            </div>
            <div class="form-group">
                <a asp-action="Index" asp-controller="Home"><img src="~/Images/back-icon.png" alt="back" style="width:35px;" class="mr-1"/></a>
                <input type="submit" value="Confirm" class="btn btn-submit-1" />
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
