@model ForgotPassword

@{
    ViewData["Title"] = "Password Recovery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="mt-3">
    <h2 class="">Password Recovery</h2>

</div>
<div class="alert alert-secondary alert-dismissible fade show" role="alert">Fill in <strong>email address</strong> your account was linked to, to send confirmation link.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-secondary"></span>
            </div>

            <button type="submit" class=" btn btn-submit-1">Recover</button>
            <button type="button" asp-controller="Home" asp-action="Index" class="btn btn-submit-1">Back</button>
        </form>
    </div>
</div>