@{
    ViewData["Title"] = "About Us";
}


<div class="container pt-3">
    <div class="info-block-2">
        <h1 class="text-secondary">
            DBUG Solutions
        </h1>
        <h2 class="text-secondary">
            About DBUG Solutions
        </h2>
        <p>
            Innovation, efficiency and simplicity. These are the pillars that DBUG Solutions stand on.
            We believe in the amelioration of system solutions as the betterment of life.
            We bring a fresh and crispy outlook on software development and have taken it upon
            ourselves to bridge the gap between user expectation and the possible.
            Building systems solutions isn’t something we take likely; hence we always strive to have
            an open-minded approach when developing system and or software.
            We're a group that strive strives to bring a new dynamic to systems and software and our dedication in evident in the systems we produce.
        </p>

    </div>

</div>