@{
    ViewData["Title"] = "Contact Us";
}



<div class="container pt-5">
    <h1 class="text-secondary">
        Contact Us
    </h1>
    <hr />
 
    <div class="info-block-2 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="border: solid 2px dotted white;">
                    <img src="~/Images/_MG_6097210342096.jpg" alt="photo" style="border-radius: 25px; width: 250px; border: solid 2px dotted white;" />
                </div>
                <div class="col-md-9 text-light pl-5">
                    <!--Name and Surname-->
                    <h3 class="text-secondary">
                        <i class='bx bxs-face'></i>&nbsp; Sidley Solomons
                    </h3>
                    <!--Cell No-->
                    <p>
                        <i class='bx bxs-phone'></i> &nbsp; (066) 875 3457
                    </p>
                    <!--Email Address-->
                    <p>
                        <i class='bx bxs-envelope'></i> &nbsp;s219450706@mandela.ac.za
                    </p>
                    <!--Developer-->
                    <p>
                        <i class='bx bx-code-alt'></i> &nbsp;  Developer
                    </p>

                </div>
            </div>
        </div>

    </div>
    <div class="info-block-2 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="border: solid 2px dotted white;">
                    <img src="~/Images/WIN_20210423_08_27_39_Pro213423491.jpg" alt="photo" style="border-radius:25px; width:250px; border:solid 2px dotted white;" />
                </div>
                <div class="col-md-9 text-light pl-5">
                    <!--Name and Surname-->
                    <h3 class="text-secondary">
                        <i class='bx bxs-face'></i>&nbsp; Lusama Fatman
                    </h3>
                    <!--Cell No-->
                    <p>
                        <i class='bx bxs-phone'></i> &nbsp; (065) 874 3456
                    </p>
                    <!--Email Address-->
                    <p>
                        <i class='bx bxs-envelope'></i> &nbsp; s219458391@mandela.ac.za
                    </p>
                    <!--Developer-->
                    <p>
                        <i class='bx bx-code-alt'></i> &nbsp;  Developer
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>