@{
    ViewData["Title"] = "ECDC Guidelines";
}




<div class="container pt-3">
    <div class="info-block-2">
        <h1 class="text-secondary">
            ECDC Guidelines
        </h1>
        <h2 class="text-secondary">
           Department of Social Development
        </h2>
        <div class="container-fluid">
            <iframe src="/Book/childhood.pdf" width="100%" height="800px">
            </iframe>
        </div>

    </div>

</div>