@{
    ViewData["Title"] = "Games";
}



<div class="container pt-5">
    <img class="img-fluid mt-3" src="~/Images/games-header.png" alt="Videos" height="80" />
    <hr />
    <div class="info-block-2">
        <!--Name and Surname-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h3>
                        Animal Sounds
                    </h3>
                    <p>
                        <img class="info-block-3" src="/Images/games-icon.png" />
                    </p>
                    <p>
                        <a asp-action="Index" asp-controller="AnimalSounds">
                            <button class="btn-video-play">Play</button>
                        </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>
                        Magic Match
                    </h3>
                    <p>
                        <img class="info-block-3" src="/Images/games-icon.png" />
                    </p>
                    <p>
                        <a asp-action="Index" asp-controller="DragAndDrop">
                            <button class="btn-video-play">Play</button>
                        </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>
                        Quiz
                    </h3>
                    <p>
                        <img class="info-block-3" src="/Images/games-icon.png" />
                    </p>
                    <p>
                        <a asp-action="Index" asp-controller="Quiz">
                            <button class="btn-video-play">Play</button>
                        </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>
                        Puzzle
                    </h3>
                    <p>
                        <img class="info-block-3" src="/Images/games-icon.png" />
                    </p>
                    <p>
                        <a asp-action="Index" asp-controller="Jiggsaw">
                            <button class="btn-video-play">Play</button>
                        </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>
                        Memory Game
                    </h3>
                    <p>
                        <img class="info-block-3" src="/Images/games-icon.png" />
                    </p>
                    <p>
                        <a asp-action="Index" asp-controller="Puzzle">
                            <button class="btn-video-play">Play</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>