@{
    ViewData["Title"] = "Help";
}



<div class="container pt-5">
    <h1 class="text-secondary">
        How Can we help?
    </h1>
    <hr />
    <div class="info-block-2">
        <!--Name and Surname-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h3>
                        Accounts
                    </h3>
                    <p>
                        <img class="info-block-3" src="/Images/profile-security.png" />
                    </p>
                    <p>
                        <a class="btn" asp-action="Accounts" asp-controller="Help">View details »</a>
                    </p>
                </div>
                
                <div class="col-md-4">
                    <h3>
                        Navigation
                    </h3>
                    <p>
                        <img class="info-block-3" src="/Images/navigation-icon.png" />
                    </p>
                    <p>
                        <a class="btn" asp-action="Navigation" asp-controller="Help">View details »</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>