@{
    ViewData["Title"] = "Safety Guidelines";
}


<div class="container pt-3">
    <div class="info-block-2">
        <h1 class="text-secondary">
            STANDARDS FOR
            CHILD PROTECTION
        </h1>
        <h2 class="text-secondary">
            Produced by the Keeping Children Safe Coalition
        </h2>
        <div class="container-fluid">
            <iframe src="/Book/safety.pdf" width="100%" height="800px">
            </iframe>
        </div>

    </div>

</div>

