@model EatingSchedule
@{
    ViewData["Title"] = "Eating Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img class="mb-3" src="~/Images/meal=schedule-header.png" alt="Creche List" width="300" />

<h4><i>Edit details</i></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EatingSchedID" />
            <div class="form-group">
                <label asp-for="CrecheName" class="control-label"></label>
                <select asp-for="CrecheName" class="form-control" asp-items="@(new SelectList(ViewBag.listCreche,"Name","Name"))">
                    <option value="" selected disabled>--Select--</option>
                </select>
                <span asp-validation-for="CrecheName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealName" class="control-label"></label>
                <select asp-for="MealName" class="form-control" asp-items="@(new SelectList(ViewBag.listMeal,"Name","Name"))">
                    <option value="" selected disabled>--Select--</option>
                </select>
                <span asp-validation-for="MealName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index"><img src="~/Images/back-icon.png" alt="back" style="width:35px;" class="mr-1" /></a>
                <input type="submit" value="Save" class="btn btn-submit-1" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
